/.vscode/
/nbproject/private/
/build/
/dist/
/bin/
/.env
/plugins/
/project/.vscode/
/project/nbproject/private/
/project/build/
/project/dist/
/project/.env
/project/plugins/
/project/.webapps/WebApplication/
/jvm
